body{
    padding-top:100px
}

.footer{
    margin:5em 0
}
.footer li{
    float:left;
    margin-right:1.5em;
    margin-bottom:1.5em
}
.footer p{
    clear:left;
    margin-bottom:0
}

::-webkit-scrollbar {
	box-sizing: border-box;
	width: 6px;
	overflow: visible
}

::-webkit-scrollbar-track {
	background: 0 0
}

::-webkit-scrollbar-thumb:hover {
	background: #757575
}

::-webkit-scrollbar-thumb {
	background: #9E9E9E
}

@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}
